node_modules

# Output
.output
.vercel
.netlify
.wrangler
/.svelte-kit
/build

# OS
.DS_Store
Thumbs.db

# Env
.env
.env.*
!.env.example
!.env.test

# Config files
/*.cfg

# Vite
vite.config.js.timestamp-*
vite.config.ts.timestamp-*

#exlcuded hero showcase video
/static/resources/hero_popup_video/webm
